.design{
    position: relative;
    top:3em;
    border: 1px solid rosybrown;
}


.design1{
    position:absolute;
    top: 0.3em;
    color: salmon;
}
.jumbotron1{
    text-align: end;
    position: relative;
    top: 6em;
}
.button{
    position: relative;
    top:6em
}
* {
    box-sizing: border-box;
  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
form.example::after {
    content: "";
    clear: both;
    display: table;
  }